<template name="wbs">

    <div class="col-md-3" id="wbsCol">

        <div class="alert alert-danger alert-dismissible" role="alert" id="wbsSearchAlert" visible="false">
            <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <strong>{{wbsQuery}}</strong> was not found. Please check the
            <a href="{{pathFor 'wbsList'}}" class="alert-link"> list of WBS codes.</a>
        </div>

        <form class="form-inline" role="search" id="wbsSearchForm">
            <div class="form-group">
                <input class="form-control typeahead"
                       name="wbsSearch"
                       id="wbsSearch"
                       type="text"
                       placeholder="Course or Task"
                       autocomplete="on"
                       spellcheck="off"/>
            </div>
            <button type="submit" class="btn btn-primary">Find</button>
        </form>

        <h1>{{currentWbs.abbrev}}
            <small>{{currentWbs.code}}</small>
        </h1>
        <h1>{{templateHelper}}</h1>
        {{#if currentWbs.course}}
            <div id="wbsTable">
                <table class=" table table-condensed table-striped">
                    <tbody>
                    {{#each courseModifiers}}
                        <tr>
                            <td>{{abbrev}}</td>
                            <td>{{currentWbs.code}}{{code}}</td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>
        {{/if}}

    </div>

    <div class="col-sm-9" id="timesheetCol">
        <iframe src="http://www.selfservice.esri.com/etc/cfdocs" id="timesheetFrame"></iframe>
    </div>

</template>