<template name="wbs">

    <div class="col-md-3" id="wbsCol">
        <form class="form-inline" role="search" id="wbsSearchForm">
            <div class="form-group">
                <input
                        class="form-control typeahead"
                        name="wbsSearch"
                        id="wbsSearch"
                        type="text"
                        placeholder="Course or Task"
                        autocomplete="on"
                        spellcheck="off"
                        autofocus="true"
                        />
            </div>
            <button type="submit" class="btn btn-default">Find</button>
        </form>
        <h1>{{currentWbs.abbrev}} <small>{{currentWbs.code}}</small></h1>
    </div>

    <div class="col-sm-9" id="timesheetCol">
        <iframe src="http://www.selfservice.esri.com/etc/cfdocs" id="timesheetFrame"></iframe>
    </div>

</template>