<template name="wbsList">
    <div class="col-sm-12">
        <table class="table table-striped table-condensed">
            <thead>
            <tr>
                <th></th>
                <th>Abbreviation</th>
                <th>Code</th>
                <th>Description</th>
                <th>Course</th>
                <th>Modifier</th>
            </tr>
            </thead>
            <tbody>
            {{#each wbsItems}}
                <tr>
                    <td>
                        <a href="{{pathFor 'wbsEdit' _wbsAbbrev=this.abbrev}}" class="btn-wbs-edit"
                           data-toggle="tooltip" data-placement="right" title="edit {{abbrev}}">
                            <span class="glyphicon glyphicon-edit"></span>
                        </a>
                    </td>
                    <td>
                        {{abbrev}}
                    </td>
                    <td>{{code}}</td>
                    <td>{{desc}}</td>
                    <td>{{course}}</td>
                    <td>{{modifier}}</td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</template>