/* get Special Elite font family from Google Fonts */
@import url(http://fonts.googleapis.com/css?family=Special+Elite);

nav.navbar{
    margin-top: 20px;
}

h1, h2, h3, h4, h5, h6, .navbar-brand, #bs-navbar-collapse {
    font-family: "Special Elite", "Helvetica Neue Light", "Lucida Grande", "Calibri", "Arial", sans-serif;
}

#wbsTable {
    overflow: scroll;
    height: 485px;
}

iframe#timesheetFrame {
    border-radius: 5px;
    width: 100%;
    min-width: 890px;
    height: 600px;
}

.btn-wbs-edit {
    cursor: pointer;
    text-align: right;
}

.btn-wbs-edit:hover {
    text-underline-mode: none;
}

footer {
    text-align: center;
}